h1{
    text-align: center;
    background-color: rgb(67, 197, 130);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
}

form{
    border-style: groove;
    margin-left: 50%;
    margin-top: -29%;
    border-radius: 4%;
}

img{
    margin-top: 7%;
    margin-left: 16%;
    width: 450px;
}
